<div class="main d-flex flex-wrap animate__animated animate__fadeInDown">
    <div class="list-menu d-flex justify-content-around">
        <li class="animate__animated animate__fadeInDown add-delay-1">
            <a class="item-menu" [href]="linkedin" target="_blank">
                <i class="uil uil-linkedin"></i>
                <span class="link">Linkedin</span>
            </a>
        </li>
        <li class="animate__animated animate__fadeInDown add-delay-2">
            <a class="item-menu" [href]="github" target="_blank">
                <i class="uil uil-github"></i>  
                <span class="link">Github</span>
            </a>
        </li>
        <li class="animate__animated animate__fadeInDown add-delay-3">
            <a class="item-menu" [href]="resume" target="_blank" download="Resume.pdf">
                <i class="uil uil-download-alt"></i>
                <span class="link">Resume</span>
            </a>
        </li>
    </div>
</div>