<div class="wrapper animate__animated animate__fadeInDown">
    <div class="section-1 animate__animated animate__fadeInDown animate__delay-1s">
        <div class="logo">
            <i class="uil uil-flower"></i>
        </div>
    </div>
    <div class="section-2">
        <div class="list-menu">
            <li class="item-menu animate__animated animate__fadeInDown add-delay-1">
                <i class="uil uil-linkedin"></i>
                <span class="link">Linkedin</span>
            </li>
            <li class="item-menu animate__animated animate__fadeInDown add-delay-2">
                <i class="uil uil-github"></i>  
                <span class="link">Github</span>
            </li>
            <li class="item-menu animate__animated animate__fadeInDown add-delay-3">
                <i class="uil uil-download-alt"></i>
                <span class="link">Descargar CV</span>
            </li>
        </div>
    </div>
</div>