<div class="wrapper">
    <div class="section-1">
        <div class="logo">
            <i class="uil uil-flower"></i>
        </div>
    </div>
    <div class="section-2">
        <div class="list-menu">
            <li class="item-menu">
                <i class="uil uil-linkedin"></i>
                <span class="link">Linkedin</span>
            </li>
            <li class="item-menu">
                <i class="uil uil-github"></i>  
                <span class="link">Github</span>
            </li>
            <li class="item-menu">
                <i class="uil uil-download-alt"></i>
                <span class="link">Descargar CV</span>
            </li>
        </div>
    </div>
</div>