.fab-btn {
    width: 70px;
    height: 70px;
    background: rgba(128, 14, 19, 0.7);
    font-size: 2rem;
}

.container {
    background-color: var(--color-base);
    box-shadow: 0 0 18px #2a2828;
}

.contact-mob{
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.contact-desk{
    visibility: hidden;
    width: 0;
    height: 0;
    background-color: var(--color-base);
    box-shadow: 0 0 18px #2a2828;

    i{
        font-size: 4rem;
        display: flex;
        justify-content: center;
    }
}

.base {
    background-color: var(--color-base);
    box-shadow: 0 0 18px #2a2828;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.base::after {
    content: "";
    background: var(--color-header-sub);
    position: absolute;
    z-index: -1;
    display: block;
    border-radius: 100%;
    left: -150%;
    right: -150%;
    top: -150%;
    bottom: -150%;
    transform: scale(0, 0);
    transition: all 0.5s ease;
}

.base:hover::after {
    transition: all 0.7s ease-out;
    transform: scale(1, 1);
}


@media (min-width: 576px) {
    .contact-mob {
        visibility: hidden;
    }

    .contact-desk {
        visibility: visible;
        width: 8rem;
        height: 8rem;
    }
    
}