<app-header></app-header>
<div class="main d-flex flex-wrap">
  <div class="row">
    <app-sidebar class="col-12 col-sm-12 col-md-6 col-lg-4"></app-sidebar>
    <app-timeline class="col-12 col-sm-12 col-md-3 col-lg-4" title="Experiencia" [events]="experiencia"></app-timeline>
    <app-timeline class="col-12 col-sm-12 col-md-3 col-lg-4" title="Educación" [events]="educacion"></app-timeline>
  </div>
  <div class="row mt-3">
    <app-skills class="col-12 col-sm-12 col-md-10 col-lg-10"></app-skills>
    <app-contact class="col-12 col-sm-12 col-md-2 col-lg-2" title="Contactame!"></app-contact>
  </div>
</div>