<div class="container d-flex flex-column animate__animated animate__fadeInLeft">
    <div class="d-flex flex-column align-items-center p-3">
        <h3 class="mono animate__animated animate__fadeIn add-delay-2">Facundo Choque</h3>
        <img class="portrait animate__animated animate__fadeIn add-delay-5" src="assets/img/avatar.jpeg" width="260" height="260">
        <h4 class="mono animate__animated animate__fadeIn add-delay-3 py-2">Desarrollador Web</h4>
    </div>
    <p class="animate__animated animate__fadeIn add-delay-4 px-2">Hola, Mi nombre es Facundo Choque. Soy Técnico Desarrollador de Software de Córdoba, Argentina. Actualmente, estoy empleado por BeeReal como desarrollador web. Me encanta trabajar con una variedad de tecnologías en desarrollo web y desarrollo de aplicaciones móviles. Mi objetivo es crear aplicaciones de alto rendimiento que resuelvan problemas del mundo real y brinden a los usuarios una experiencia increíble.</p>
</div>
