.container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-base);
    margin: 1.5rem 1.5rem;
    padding: .5rem 1.5rem;
    box-shadow: 0 0 18px #2a2828;
}

.introduction {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.5rem;
    margin: 1rem 0;
}

img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.perfil {
    justify-content: center;
    margin: 0.5rem 1rem;
}

.name {
    margin: 0 0;
    font-size: 3rem; 
    font-weight: bold;
}

.sub-name {
    margin: .5rem 0;
    font-weight: 600;
    font-size: 1.2rem;
}

.description {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: .2px;
    margin: 2rem 0;
}

.conocimientos {
    .head {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    .content {
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 550;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
}