<div class="container d-flex flex-column">
    <div class="d-flex flex-column align-items-center p-3">
        <h3 class="mono animate__animated animate__fadeIn add-delay-2">Facundo Choque</h3>
        <img class="portrait animate__animated animate__fadeIn add-delay-5" src="assets/img/avatar.jpeg" width="260" height="260">
        <h4 class="mono animate__animated animate__fadeIn add-delay-3 py-2">Desarrollador Web</h4>
    </div>
    <div class="content animate__animated animate__fadeIn add-delay-4">
        <p>
            Hola, mi nombre es Facundo Choque. Soy un desarrollador Web Fullstack de Argentina, con dos años de experiencia trabajando en equipos multidisciplinarios en diversas empresas. Mi enfoque está en desarrollar aplicaciones personalizadas para satisfacer las necesidades específicas de cada cliente.
        </p>    
        <br>
        <p>
            En mi trabajo, siempre busco estar al tanto de las últimas tendencias y tecnologías en el desarrollo de software, lo que me permite crear soluciones innovadoras y de alta calidad. Además, me encanta trabajar en equipo y colaborar con colegas para lograr los objetivos del proyecto y alcanzar el éxito.
            
        </p>
        <br>
        <p>
            Mi pasión por el desarrollo de software se refleja en mi dedicación para aprender y mejorar continuamente mis habilidades. Estoy ansioso por la oportunidad de contribuir con mi experiencia y conocimiento a un equipo de desarrollo dinámico e innovador.        
        </p>
    </div>
</div>
