.container {
    background-color: var(--color-base);
    box-shadow: 0 0 18px #2a2828;
}

.portrait {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.perfil {
    justify-content: center;
    margin: 0.5rem 1rem;
}

