.container {
    background-color: var(--color-base);
    box-shadow: 0 0 18px #2a2828;
}

.portrait {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.perfil {
    justify-content: center;
    margin: 0.5rem 1rem;
}

.content {
    line-height: normal;

}

//Mobile
@media (min-width: 576px) {
    .main {
        justify-content: end;
        font-size: 15px;
    }
}

@media (min-width: 768px) {
    .container{
        height: 75vh;
        overflow-x: hidden;
        font-size: 1rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    
    .container{
        height: 75vh;
        overflow-x: hidden;
        font-size: 15px;
    }

    .portrait {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }
    
}

@media (min-width: 1400px){

    .container{
        height: 75vh;
        font-size: 16px;
    }

    .portrait {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        margin-top: 20px;
    }

}


::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-back);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
} 