<div class="container animate__animated animate__fadeInLeft">
    <div class="introduction animate__animated animate__fadeIn add-delay-1">Hola! Mi nombre es</div>
    <div class="d-flex flex-column align-items-center">
        <h1 class="name animate__animated animate__fadeIn add-delay-2">Facundo Choque</h1>
        <img class="animate__animated animate__fadeIn add-delay-5" src="assets/img/avatar.jpeg" width="260" height="260">
        <h2 class="sub-name animate__animated animate__fadeIn add-delay-3">Soy Desarrollador Web</h2>
    </div>
    <p class="description animate__animated animate__fadeIn add-delay-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores dicta corporis reprehenderit impedit laboriosam perferendis, autem nulla nisi ipsa dolorem. Quia, voluptatibus vero quidem doloribus nisi necessitatibus provident qui accusantium?</p>
</div>
<div class="container conocimientos">
    <h3 class="head">Mis skills:</h3>
    <div class="content">
        <p>Angular</p><p>|</p>
        <p>AngularJS</p><p>|</p>
        <p>ASP.NET Core</p><p>|</p>
        <p>ASP.NET Framework</p><p>|</p>
        <p>SQL Microsoft Server</p><p>|</p>
        <p>Typescript</p><p>|</p>
        <p>C#</p><p>|</p>
        <p>Javascript</p><p>|</p>
        <p>Python</p><p>|</p>
        <p>Postman</p><p>|</p>
        <p>Git</p><p>|</p>
        <p>TortoiseSVN</p>
    </div>

</div>
